@keyframes FadeIn { 
    0% { opacity:0; }
    100% { opacity: 1; }
}

#container {
    color: white;
    background-color: rgb(var(--background-black));
    height: 100%;
    overflow: scroll;
    animation: FadeIn 0.5s linear;
}

.heroinfodesktop {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 40px;
}

#mobileimage {
    display: none;
}

@media (pointer: coarse) {
    #mobileimage {
        display: block;
    }
    #desktopimage {
        display: none;
    }
}

@keyframes CirclePath {
    0% {
        transform: scale(1) translateX(0vw);
        z-index: 10;
    }
    25% {
        transform: scale(0.75) translateX(-40vw);
        z-index: 5;
    }
    50% {
        transform: scale(0.5) translateX(0vw);
        z-index: 1;
    }
    75% {
        transform: scale(0.75) translateX(40vw);
        z-index: 5;
    }
    100% {
        transform: scale(1) translateX(0vw);
        z-index: 10;
    }
}

.outsideImage {
    animation: CirclePath linear infinite;
    position: relative;
    z-index: 10;
    filter: grayscale();
    height: 28vh;
}

.outsideImage:hover {
    position: relative;
    animation-play-state: paused;
    z-index: 500 !important;
    filter: none;
}

.outsideImage > img {
    position: relative;
    height: 30vh;
}

.outsideImage:hover > img {
    height: 60vh;
    transition: all;
    transition-timing-function: ease;
    transition-duration: 200ms;
}

.outsideImage:nth-child(1) { animation-duration: 20s; animation-delay: 0s; margin-bottom: -16vh;}
.outsideImage:nth-child(2) { animation-duration: 14s; animation-delay: 0.75s; margin-bottom: -20vh;}
.outsideImage:nth-child(3) { animation-duration: 18s; animation-delay: 0.5s; margin-bottom: -16vh;}
.outsideImage:nth-child(4) { animation-duration: 12s; animation-delay: 1s; margin-bottom: 0vh;}