@keyframes FadeIn { 
    0% { opacity:0; }
    100% { opacity: 1; }
}

#container {
    color: white;
    background-color: rgb(var(--background-black));
    height: 100%;
    overflow: scroll;
    animation: FadeIn 0.5s linear;
}

.heroinfodesktop {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 40px;
}

#mobileimage {
    display: none;
}

@media (pointer: coarse) {
    #mobileimage {
        display: block;
    }
    #desktopimage {
        display: none;
    }
}