@keyframes FadeIn { 
    0% { opacity:0; }
    100% { opacity: 1; }
}

#container {
    color: white;
    background-color: rgb(var(--background-black));
    height: 100%;
    overflow: scroll;
    animation: FadeIn 0.5s linear;
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}


#contactForm {
    width: 35vw;
    min-width: 325px;
}

.contactText {
    width: 23vw;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 20px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 18px;
}


.formGroup label {
    width: 100%;
    margin-bottom: 1px;
}

form > button {
    width: 100%;
}

::placeholder {
    color: black;
}

.moreInfo {
    background: linear-gradient(to right, rgba(var(--accent-orange),0.8), rgba(var(--accent-yellow),0.8));
    color: white;
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 10vh 20vw;
    min-height: fit-content;
}

@media only screen and (max-width: 768px) {
    .contact {
        flex-direction: column;
        gap: 40px;
    }
    #contactForm, .contactText {
        width: 80vw;
    }
    .moreInfo {
        flex-direction: column;
        gap: 40px;
    }
}

@media only screen and (max-width: 375px) {
    .formGroup {
        width: 80%;
    }
    form > button {
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .moreInfo {
        flex-direction: column;
        gap: 40px;
        padding: 10vh 15vw;
    }
}