
#mobileimage {
    display: none;
}

@media (pointer: coarse) {
    #mobileimage {
        display: block;
    }
    #desktopimage {
        display: none;
    }
}

@media only screen and (pointer: fine) {
    #mobileImage {
        display: none;
    }
}