#container {
    background-color: var(--background-black);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}

section {
    min-height: 60vh;
    width: 100vw;
    z-index: 200;
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30vh;
}

.hero {
    padding-top: 40vh;
}
.subhero {
    margin-left: 60px;
}

.skills {
    padding: 10vh 18vw 0vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.skill {
    height: 10vh;
    object-fit: contain;
    filter: gray;
    -webkit-filter: grayscale(100%);
    animation: FadeIn 1s linear;
    animation-fill-mode: both;
}

.skill:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    outline: 1px solid var(--accent-blue);
    outline-offset: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.5rem var(--accent-blue))
}

@keyframes FadeIn { 
    0% { opacity:0; transform:scale(.1);}
    85% {opacity:1; transform:scale(1.05);}
    100% {transform:scale(1); }
}

.skill:nth-child(1) { animation-delay: 1s }
.skill:nth-child(2) { animation-delay: 1.5s }
.skill:nth-child(3) { animation-delay: 2s }
.skill:nth-child(4) { animation-delay: 2.5s }
.skill:nth-child(5) { animation-delay: 1s }
.skill:nth-child(6) { animation-delay: 1.5s }
.skill:nth-child(7) { animation-delay: 2s }
.skill:nth-child(8) { animation-delay: 2.5s }
.skill:nth-child(9) { animation-delay: 1s }
.skill:nth-child(10) { animation-delay: 1.5s }
.skill:nth-child(11) { animation-delay: 2s }
.skill:nth-child(12) { animation-delay: 2.5s }
.skill:nth-child(13) { animation-delay: 1s }
.skill:nth-child(14) { animation-delay: 1.5s }
.skill:nth-child(15) { animation-delay: 2s }
.skill:nth-child(16) { animation-delay: 2.5s }
.skill:nth-child(17) { animation-delay: 1s }


/* .hero::before {
    content: url('wave-blue.svg');
    display: block;
    width: 100%;
    height: 50%;
    transform: scale(2) translateY(-160%);
    margin-bottom: -15%;
}

.hero::after {
    content: url('wave-purple.svg');
    display: block;
    width: 100%;
    height: 50%;
    transform: scaleX(2) scaleY(0.6) translateY(-100%);
    margin-bottom: -15%;
}

.about::after {
    content: url('wave-orange.svg');
    display: block;
    width: 100%;
    height: 50%;
    transform: scale(2) translateY(-80%);
    margin-bottom: -15%;
}

@media only screen and (max-width: 700px) {
    .hero::before {
        content: url('wave-blue.svg');
        display: block;
        width: 100%;
        height: 50%;
        transform: translateY(-230%);
        margin-bottom: -65%;
    }
} */