@keyframes FadeIn { 
    0% { opacity:0; }
    100% { opacity: 1; }
}

#container {
    background-color: rgb(var(--background-black));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: FadeIn 0.5s linear;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

section {
    width: 100vw;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes TitleIn { 
    0% { opacity:0}
    100% {opacity:1}
}

@keyframes GrowIn { 
    0% { opacity:0; transform:scale(.1); }
    85% { opacity:1; transform:scale(1.05); }
    100% { transform:scale(1); }
}

.hero {
    min-height: 100vh;
    background-image: url('src/assets/waves/wave-blue.svg'), url('src/assets/waves/wave-purple.svg');
    background-size: cover, cover;
    background-position: bottom 90px left 0px, top -60px left 0px;
}

.heroTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    animation: TitleIn 1.5s linear;
}


.subtitle {
    margin-left: 60px;
    margin-right: 20px;
}


.skills {
    padding: 10vh 18vw 0vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}


.skill {
    height: 10vh;
    object-fit: contain;
    filter: gray;
    -webkit-filter: grayscale(100%);
    animation: GrowIn 1s linear;
    animation-fill-mode: both;
}

@media (pointer: coarse) {
    .skill {
        filter: none;
        -webkit-filer: none;
    }
}

.skill:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    outline: 1px solid rgb(var(--accent-blue));
    outline-offset: 10px;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.5rem rgb(var(--accent-blue)))
}

.skill:nth-child(1) { animation-delay: 1s }
.skill:nth-child(2) { animation-delay: 1.5s }
.skill:nth-child(3) { animation-delay: 2s }
.skill:nth-child(4) { animation-delay: 2.5s }
.skill:nth-child(5) { animation-delay: 1s }
.skill:nth-child(6) { animation-delay: 1.5s }
.skill:nth-child(7) { animation-delay: 2s }
.skill:nth-child(8) { animation-delay: 2.5s }
.skill:nth-child(9) { animation-delay: 1s }
.skill:nth-child(10) { animation-delay: 1.5s }
.skill:nth-child(11) { animation-delay: 2s }
.skill:nth-child(12) { animation-delay: 2.5s }
.skill:nth-child(13) { animation-delay: 1s }
.skill:nth-child(14) { animation-delay: 1.5s }
.skill:nth-child(15) { animation-delay: 2s }
.skill:nth-child(16) { animation-delay: 2.5s }
.skill:nth-child(17) { animation-delay: 1s }
.skill:nth-child(18) { animation-delay: 1.5s }

.about {
    position: relative;
    margin: 0 auto;
    padding: 10vh clamp(5vw,15vw,15vw);
    height: 60vh;
    z-index: 1;
    background: linear-gradient(to right, rgba(var(--accent-orange),0.8), rgba(var(--accent-yellow),0.8));
    color: white;
    text-shadow: 1px 1px 2px black;
}

.work {
    min-height: 60vh;
    padding: 12vh 0vw;
    background-image: url('src/assets/waves/wave-orange.svg'), url('src/assets/waves/wave-yellow.svg');
    background-size: cover, cover;
    background-position: bottom 60px left 0px, top -35px left 0px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .heroTitle {
        position: relative;
        bottom: 100px;
    }
    .skills {
        position: relative;
        bottom: 200px;
        gap: 4vw;
    }
    .skill {
        height: 8.5vh;
    }
    .about {
        height: 90vh
    }
    .work {
        padding: 12vh 5vw;
    }
    .contact {
        position: relative;
        top: 300px;
    }
}