@keyframes FadeIn { 
    0% { opacity:0; }
    100% { opacity: 1; }
}

#container {
    color: white;
    background-color: rgb(var(--background-black));
    height: 100%;
    overflow: scroll;
    animation: FadeIn 0.5s linear;
}

.projects:has(img:hover) {
    background-color: rgb(181, 180, 180);
    background-blend-mode: multiply;
}

.mobileLabels {
    display: none;
}

@media (pointer: coarse) {
    .mobileLabels {
        display: block;
    }
    .desktopLabels {
        display: none;
    }
}